<ion-header>
  <ion-toolbar>
<!--    <ion-buttons slot="start" (click)="presentModal()">-->
<!--      <ion-button>-->
<!--        登录-->
<!--      </ion-button>-->
<!--    </ion-buttons>-->
    <ion-title>
      我
    </ion-title>
<!--    <ion-button>-->
<!--      <ion-icon slot="icon-only" name="contact"></ion-icon>-->
<!--    </ion-button>-->
<!--    <ion-buttons slot="end" (click)="logout()">-->
<!--      <ion-icon slot="icon-only" name="log-out"></ion-icon>-->
<!--    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item [routerLink]="['/information']">
      <!--      <ion-icon name="information-circle" slot="start"></ion-icon>-->
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <img style="width: 20%" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{username}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- Item as a Button -->
<!--  <ion-list>-->
<!--    <ion-item [routerLink]="['/orderinfo']">-->
<!--      <ion-icon name="clipboard" slot="start"></ion-icon>-->
<!--      <ion-label>-->
<!--        订单总览-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--  </ion-list>-->
  <ion-list>
    <ion-item [routerLink]="['/integral']">
      <ion-icon name="paper" slot="start"></ion-icon>
      <ion-label>
        积分查询
      </ion-label>
    </ion-item>
<!--    <ion-item [routerLink]="['/pointsfor']">-->
<!--      <ion-icon name="cart" slot="start"></ion-icon>-->
<!--      <ion-label>-->
<!--        积分兑换-->
<!--      </ion-label>-->
<!--    </ion-item>-->
  </ion-list>
<!--  <ion-list>-->
<!--    <ion-item [routerLink]="['/address']">-->
<!--      <ion-icon name="pin" slot="start"></ion-icon>-->
<!--      <ion-label>-->
<!--        常用地址-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--  </ion-list>-->
<!--  <ion-list>-->
<!--    <ion-item [routerLink]="['/versioninfo']">-->
<!--      <ion-icon name="hammer" slot="start"></ion-icon>-->
<!--      <ion-label>-->
<!--        版本信息-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--  </ion-list>-->
  <ion-list>
    <ion-button size="default" fill="clear" color="danger" shape="round" expand="block" (click)="presentAlertConfirm()">退出登录</ion-button>
  </ion-list>

  <!-- Round 屏蔽掉底部登录和注册按钮 -->
<!--  <ion-button shape="round" expand="block" (click)="presentModal()">登录</ion-button>-->
<!--  <ion-button color="primary" shape="round" fill="outline" expand="block">注册</ion-button>-->
</ion-content>
