<ion-header>
  <ion-toolbar>
    <ion-title>
      首页
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
<!--      <ion-card-header>-->
<!--&lt;!&ndash;        <ion-card-subtitle>1111</ion-card-subtitle>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-card-title>111111Ionic</ion-card-title>&ndash;&gt;-->
<!--      </ion-card-header>-->
<!--      <ion-card-content>-->
<!--        <p>11111111</p>-->
<!--      </ion-card-content>-->
    </ion-card>
<!--    <ion-list lines="none">-->
<!--      <ion-list-header>-->
<!--        <ion-label>11111</ion-label>-->
<!--      </ion-list-header>-->
<!--      <ion-item href="https://ionicframework.com/docs/">-->
<!--        <ion-icon slot="start" color="medium" name="book"></ion-icon>-->
<!--        <ion-label>Ionic 11111</ion-label>-->
<!--      </ion-item>-->
<!--      <ion-item href="https://ionicframework.com/docs/building/scaffolding">-->
<!--        <ion-icon slot="start" color="medium" name="build"></ion-icon>-->
<!--        <ion-label>11111</ion-label>-->
<!--      </ion-item>-->
<!--      <ion-item href="https://ionicframework.com/docs/layout/structure">-->
<!--        <ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
<!--        <ion-label>1111111</ion-label>-->
<!--      </ion-item>-->
<!--      <ion-item href="https://ionicframework.com/docs/theming/basics">-->
<!--        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>-->
<!--        <ion-label>1111111</ion-label>-->
<!--      </ion-item>-->
<!--    </ion-list>-->

<!--  <ion-segment [(ngModel)] = "isTrue" (ionChange)="segmentChanged($event)">-->
<!--    <ion-segment-button value="Friends">-->
<!--      <ion-label>启用模板</ion-label>-->
<!--      <ion-icon name="play"></ion-icon>-->
<!--    </ion-segment-button>-->

<!--    <ion-segment-button value="Enemies">-->
<!--      <ion-label>应用中</ion-label>-->
<!--    </ion-segment-button>-->

<!--    <ion-segment-button value="streee">-->
<!--      <ion-label>评教记录</ion-label>-->
<!--    </ion-segment-button>-->
<!--  </ion-segment>-->

<!--  <ion-list *ngIf = "isTrue == 'Friends'">-->
<!--    <ion-item-sliding #slide (click)="close()">-->
<!--      <ion-item>-->
<!--        <ion-label>-->
<!--          模板一-->
<!--        </ion-label>-->
<!--      </ion-item>-->
<!--      <ion-item-options >-->
<!--        <ion-item-option color="primary" (click)="Release()">-->
<!--          <ion-icon slot="bottom" name="more"></ion-icon>-->
<!--          发布-->
<!--        </ion-item-option>-->
<!--        <ion-item-option color="secondary">-->
<!--          <ion-icon slot="bottom" name="archive"></ion-icon>-->
<!--          删除-->
<!--        </ion-item-option>-->
<!--      </ion-item-options>-->
<!--    </ion-item-sliding>-->
<!--  </ion-list>-->

<!--  <ion-list *ngIf = "isTrue == 'Enemies'">-->
<!--    <ion-item-sliding #slide (click)="open()">-->
<!--      <ion-item>-->
<!--        <ion-label>-->
<!--          模板二-->
<!--        </ion-label>-->
<!--      </ion-item>-->
<!--      <ion-item-options>-->
<!--        <ion-item-option color="primary" (click)="Release2()">-->
<!--          <ion-icon slot="bottom" name="more"></ion-icon>-->
<!--          发布-->
<!--        </ion-item-option>-->
<!--        <ion-item-option color="secondary">-->
<!--          <ion-icon slot="bottom" name="archive"></ion-icon>-->
<!--          删除-->
<!--        </ion-item-option>-->
<!--      </ion-item-options>-->
<!--    </ion-item-sliding>-->
<!--  </ion-list>-->

<!--  <ion-list *ngIf = "isTrue == 'streee'">-->
<!--    3333-->
<!--  </ion-list>-->

  <ion-list>
    <ion-radio-group radio-group [(ngModel)]="waybill.waybillTransportWay">
      <ion-list-header>
        <ion-label>运输方式：</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label fixed>物流</ion-label>
        <ion-radio slot="end" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label fixed>快递</ion-label>
        <ion-radio slot="end" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  运输方式：{{waybill.waybillTransportWay}}

<!--  <ion-item>-->
<!--    <ion-label position="floating">运输方式：</ion-label>-->
<!--    <ion-select [(ngModel)]="isTrue" [interfaceOptions]="transportWayActionSheetOptions" interface="action-sheet" placeholder="请选择一种运输方式" cancel-text="取消">-->
<!--      <ion-select-option value="1" selected="selected">物流</ion-select-option>-->
<!--      <ion-select-option value="2">快递</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-item>-->

  <ion-list>
    <ion-item>
      <ion-label>货物类别</ion-label>
      <ion-select [(ngModel)]="waybill.cargoTypeId" interface="action-sheet" cancelText="取消" okText="确定">
        <ion-select-option *ngFor="let item of CargoType" value="{{item.cargoTypeId}}">{{item.cargoTypeName}}</ion-select-option>
      </ion-select>
    </ion-item>
    货物类别：{{waybill.cargoTypeId}}
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label position="floating">预计重量：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillEstimatedWeight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">货物名称：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillCargoName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">发货人姓名：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillShipperName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">发货人手机号：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillShipperPhone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">发货人地址：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillShipperAddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">收货人姓名：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillGoodsName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">收货人手机号：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillGoodsPhone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">收货人地址：</ion-label>
      <ion-input type="text" [(ngModel)]="waybill.waybillGoodsAddress"></ion-input>
    </ion-item>
  </ion-list>

<ion-list>
  <ion-button color="success" shape="round" expand="block" (click)="addOrder()">提交订单</ion-button>
</ion-list>

</ion-content>
