<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goRoot()"></ion-back-button>
    </ion-buttons>
    <ion-title>订单详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 默认的下拉刷新样式 -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
      <ion-item>
        <ion-label>
          <h2>{{waybill.waybillGoodsName}}&nbsp;&nbsp;{{waybill.waybillGoodsPhone}}</h2>
          <p>{{waybill.waybillGoodsAddress}}</p>
<!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
<!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
        </ion-label>
      </ion-item>
<!--    <ion-list-header>-->
<!--      <ion-label>运单编号：</ion-label>-->
<!--    </ion-list-header>-->
    <ion-item>
        运单编号：
          <ion-badge color="medium waybillNo">{{waybill.waybillNo}}</ion-badge>
        <!--          <p>{{waybill.waybillGoodsName}}</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
    </ion-item>

      <ion-item>
          运单状态：
              <ion-badge *ngIf="waybill.waybillState === '1'" color="warning">未处理</ion-badge>
              <ion-badge *ngIf="waybill.waybillState === '2'" color="secondary">已处理</ion-badge>
              <ion-badge *ngIf="waybill.waybillState === '3'" color="tertiary">已发货</ion-badge>
              <ion-badge *ngIf="waybill.waybillState === '4'" color="success">已完成</ion-badge>
              <ion-badge *ngIf="waybill.waybillState === '5'" color="danger">已取消</ion-badge>
              <!--          <p>{{waybill.waybillGoodsName}}</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
      </ion-item>
      <ion-item>
          货物名称：
              <ion-label>{{waybill.waybillCargoName}}</ion-label>
              <!--          <p>{{waybill.waybillGoodsName}}</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
      </ion-item>
      <ion-item>
          货物类型：
              <ion-label>{{waybill.cargoTypeName}}</ion-label>
              <!--          <p>{{waybill.waybillGoodsName}}</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
      </ion-item>
      <ion-item>
          支付方式：
              <ion-badge *ngIf="waybill.waybillPayWay === '1'" color="primary">线下支付</ion-badge>
              <!--          <p>{{waybill.waybillGoodsName}}</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
      </ion-item>
      <ion-item>
          是否付款：
              <ion-badge *ngIf="waybill.waybillPayment === '1'" color="warning">未付款</ion-badge>
              <ion-badge *ngIf="waybill.waybillPayment === '2'" color="success">已付款</ion-badge>
              <!--          <p>{{waybill.waybillGoodsName}}</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
      </ion-item>
      <ion-item>
          <div *ngIf="waybill.waybillPayment === '1'">待付金额：</div>
          <div *ngIf="waybill.waybillPayment === '2'">已付金额：</div>
              <ion-badge color="primary">{{waybill.waybillMoney}}元</ion-badge>
              <!--          <p>{{waybill.waybillPayment}}</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
              <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
      </ion-item>
    <ion-item>
        下单时间：
        <ion-label>{{waybill.creationTime | date:'yyyy-MM-dd HH:mm:ss' }}</ion-label>
        <!--          <p>{{waybill.waybillGoodsName}}</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
    </ion-item>
    <ion-item>
        运输方式：
          <ion-badge color="medium" *ngIf="waybill.waybillTransportWay === '1'">物流</ion-badge>
          <ion-badge color="medium" *ngIf="waybill.waybillTransportWay === '2'">快递</ion-badge>
        <!--          <p>{{waybill.waybillGoodsName}}</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
    </ion-item>
    <ion-item>
        预计重量：
        <ion-label>{{waybill.waybillEstimatedWeight}}千克（kg）</ion-label>
        <!--          <p>{{waybill.waybillGoodsName}}</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '1'">物流</p>-->
        <!--          <p *ngIf="waybill.waybillTransportWay === '2'">快递</p>-->
    </ion-item>
</ion-content>
