<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goRoot()"></ion-back-button>
    </ion-buttons>
    <ion-title>发物流</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- 下拉刷新，防止账户token出现问题而无法获取货物类型的问题 -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list-header class="title"></ion-list-header>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label>货物类别</ion-label>
    <ion-select [(ngModel)]="waybill.cargoTypeId" placeholder="请选择货物类别" cancelText="取消" okText="确定">
      <ion-select-option *ngFor="let item of CargoType" value="{{item.cargoTypeId}}">{{item.cargoTypeName}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label>货物名称：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillCargoName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label>预计重量：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillEstimatedWeight"></ion-input>
    <ion-label>千克（kg）</ion-label>
  </ion-item>

<!--  注释掉物流快递选择-->

<!--  <ion-list-header class="title"></ion-list-header>-->
<!--  <ion-radio-group radio-group [(ngModel)]="waybill.waybillTransportWay">-->
<!--    <ion-item>-->
<!--      <ion-label fixed>物流</ion-label>-->
<!--      <ion-radio slot="end" value="1"></ion-radio>-->
<!--    </ion-item>-->
<!--    <ion-item lines="none">-->
<!--      <ion-label fixed>快递</ion-label>-->
<!--      <ion-radio slot="end" value="2"></ion-radio>-->
<!--    </ion-item>-->
<!--  </ion-radio-group>-->


  <!--  <ion-item>-->
  <!--    <ion-label position="floating">运输方式：</ion-label>-->
  <!--    <ion-select [(ngModel)]="isTrue" [interfaceOptions]="transportWayActionSheetOptions" interface="action-sheet" placeholder="请选择一种运输方式" cancel-text="取消">-->
  <!--      <ion-select-option value="1" selected="selected">物流</ion-select-option>-->
  <!--      <ion-select-option value="2">快递</ion-select-option>-->
  <!--    </ion-select>-->
  <!--  </ion-item>-->

  <ion-list-header class="title"></ion-list-header>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label required>发货人姓名：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillShipperName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label required>发货人电话：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillShipperPhone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label required>发货人地址：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillShipperAddress"></ion-input>
  </ion-item>

  <ion-list-header class="title"></ion-list-header>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label>收货人姓名：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillGoodsName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label>收货人电话：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillGoodsPhone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="medical" class="tags" slot="start"></ion-icon>
    <ion-label>收货人地址：</ion-label>
    <ion-input type="text" [(ngModel)]="waybill.waybillGoodsAddress"></ion-input>
  </ion-item>

  <ion-list-header class="title"></ion-list-header>
  <div style="text-align: center">
    <ion-button (click)="addOrder()" color="primary">提交物流订单</ion-button>
  </div>
  <ion-list-header class="title"></ion-list-header>
</ion-content>
