<ion-header>
  <ion-toolbar>
    <ion-title>
      登录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">用户名：</ion-label>
    <ion-input clearInput [(ngModel)] = "userName"></ion-input>
  </ion-item>

<!--  <ion-item [routerLink]="['/test']">-->
<!--    <ion-label position="floating">姓&nbsp;&nbsp;&nbsp;名：</ion-label>-->
<!--  </ion-item>-->

  <ion-item>
    <ion-label position="floating">密&nbsp;&nbsp;&nbsp;&nbsp;码：</ion-label>
    <ion-input clearInput type="password" [(ngModel)] = "userPwd"></ion-input>
  </ion-item>

<!--  {{userName}},{{name}},{{userPwd}}-->

  <!-- Round -->
  <ion-button shape="round" expand="block" (click)="loginUser()">登&nbsp;&nbsp;&nbsp;录</ion-button>
<!--  <ion-button color="primary" shape="round" fill="outline" expand="block" (click)="openRegister()">注&nbsp;&nbsp;&nbsp;册</ion-button>-->
<!--  <ion-button color="primary" shape="round" fill="outline" expand="block" (click)="presentToast('测试')">显示通知</ion-button>-->
<!--  <ion-button color="primary" shape="round" fill="outline" expand="block" (click)="dissView()">隐藏页面</ion-button>-->
</ion-content>
