<ion-header>
  <ion-toolbar>
    <ion-title>注册新用户</ion-title>
    <ion-buttons slot="end" (click)="goLogin()">
      <ion-button>
        登录
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label position="floating">手机号：</ion-label>
    <ion-input [(ngModel)] = "user.username" placeholder="（必填）请输入用户手机号码"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">密&nbsp;&nbsp;&nbsp;&nbsp;码：</ion-label>
    <ion-input type="password" [(ngModel)] = "user.password" placeholder="（必填）请输入密码：必须包含大写字母、小写字母、数字"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">姓&nbsp;&nbsp;&nbsp;&nbsp;名：</ion-label>
    <ion-input [(ngModel)] = "user.monicker" placeholder="（必填）请输入姓名"></ion-input>
  </ion-item>
</ion-list>
<ion-list>
  <!-- Round -->
  <ion-button color="primary" shape="round" fill="outline" expand="block" (click)="register()">注&nbsp;&nbsp;&nbsp;册</ion-button>
</ion-list>
</ion-content>
